<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.damiencuny.android_clean_architecture_boiler_plate">

    <!-- Leak canary needs access to External storage to save heap dumps -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".DebugApplication"
        tools:replace="android:name">

        <meta-data
            android:name="firebase_crash_collection_enabled"
            android:value="false"/>
    </application>

</manifest>